<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.backend.mapper.BookRuleMapper">

    <resultMap id="BaseResultMap" type="com.book.backend.pojo.BookRule">
            <id property="ruleId" column="rule_id" jdbcType="INTEGER"/>
            <result property="bookRuleId" column="book_rule_id" jdbcType="INTEGER"/>
            <result property="bookDays" column="book_days" jdbcType="INTEGER"/>
            <result property="bookLimitNumber" column="book_limit_number" jdbcType="INTEGER"/>
            <result property="bookLimitLibrary" column="book_limit_library" jdbcType="VARCHAR"/>
            <result property="bookOverdueFee" column="book_overdue_fee" jdbcType="DOUBLE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        rule_id,book_rule_id,book_days,
        book_limit_number,book_limit_library,book_overdue_fee,
        create_time,update_time
    </sql>
</mapper>
