<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.backend.mapper.ChatMapper">

    <resultMap id="BaseResultMap" type="com.book.backend.pojo.Chat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fromId" column="from_id" jdbcType="BIGINT"/>
            <result property="toId" column="to_id" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="chatType" column="chat_type" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,from_id,to_id,
        text,chat_type,create_time,
        update_time
    </sql>
</mapper>
